@model IEnumerable<EmployeeMVCCore.ViewModel.EmployeeIndexModel>
@{
    ViewData["Title"] = "List of Employees";
}

<div id="newHome" class="newHome">
    <h4>@Html.ActionLink("add new employee", "Create", "Home", null, new { style = "color: #333;", data_target = "#exampleModal", data_toggle = "modal" })</h4>
    <a href="" class="reset-field">
        <i class="fa fa-refresh status-block" aria-hidden="true"></i>
    </a>
    <a href="#" class="reset-field" id="btnSearch" style="margin-right: 10px">
        <i class="fa fa-search status-block" aria-hidden="true"></i>
    </a>
    <div class="contentSide standard-list clearfix">

        @foreach (var item in Model)
    {
          @*<a asp-action="Index" class="btn btn-default" asp-route-id="@item.Id">*@
        <div class="list-item" data-id="@Html.DisplayFor(modelItem => item.Id)">
            <div class="title">@Html.DisplayFor(modelItem => item.FirstName)</div>
            <div class="info w100">@Html.DisplayFor(modelItem => item.LastName)</div>
            <div class="description w100 truncate">@Html.Raw(item.Address)</div>
            <input type="hidden" id="id" value="@Html.Raw(item.Id)" />
            <a asp-action="Index" class="btn btn-default" asp-route-id="@item.Id">
                @Html.Raw(item.FirstName)
            </a>

        </div>
            }

    </div>
</div>
